*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}
body{
    margin: 10px;
}
header{
    font-family: Helvetica;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(img/pattern.jpeg); 
}

h1{
    font-size: 100px;
}

h2{
    font-size: 32px;
    color: white;
    font-weight: bold;
    
    
}

#bru h2{

    background-color: mediumspringgreen;
}

#fra h2{
    background-color: lightcoral;
   
}

#paint h2{
    background-color: skyblue;
}

h2{
    margin: 20px 0px;
}
strong{
    font-weight: bold;
    color: blue;
}
h3{
    margin: 20px 0px;
}